.postcontent-left,
.postcontent-right {
   width: 46%;
   margin-right: 2%;
   display: inline-block;
   vertical-align: top;
}

fieldset {
   padding: 2px 0;
   margin-bottom: 5px;
}

fieldset label.inline {
   min-width: 140px;
   display: inline-block;
}

fieldset label.block {
   width: 100%;
   display: block;
   margin-bottom: 2px;
}

.pbc_field {
	width: 100%;
}

button.select-image.select-image-selected {
	width: 140px;
    vertical-align: middle;
    display: inline-block;
}
.pbc_field_preview {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.pbc_field_preview img {
	margin-right: 20px;
	width: 100%;
    max-width: 100px;
}
.pbc_field_preview_remove {
    position: absolute;
    right: 20px;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 8px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.pbc_field_preview img:hover + .pbc_field_preview_remove,
.pbc_field_preview_remove:hover {
    display: block;
}
.save_bar {
   padding: 0 10px;
   text-align: right;
   margin-bottom: 20px;
}

.content.left-content,
.content.right-content {
   width: 45%;
   display: inline-block;
   vertical-align: top;
}

.content.left-content {
   border-right: 1px solid #EEEEEE;
   margin-right: 2%;
}

.phases-lists-table th,
.phases-lists-table td {
   text-align: left;
}

.phases-col {
   width: 60%;
}

.order-col,
.variations-col {
   width: 20%;
}
