<?xml version="1.0"?>
<ruleset name="Coding Standards for Internal Scanner Tool">
	<description>Description of Plugin.</description>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>reports/*</exclude-pattern>
	<exclude-pattern>php/tests/*</exclude-pattern>
	<exclude-pattern>php/prt_phpunit/*</exclude-pattern>

	<arg value="ps"/>
	<arg name="extensions" value="php"/>

	<file>./pbc.php</file>
	<file>./includes</file>

	<rule ref="WordPress">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
		<exclude name="WordPress.DB" />
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="WordPress.NamingConventions.ValidFunctionName" />
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="pbc" />
		</properties>
	</rule>

	<rule ref="WordPress.Utils.I18nTextDomainFixer">
		<properties>
			<property name="old_text_domain" type="array">
				<element value="" />
			</property>
			<property name="new_text_domain" value="pbc" />
		</properties>
	</rule>

	<rule ref="WordPress">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
		<exclude name="Generic.WhiteSpace.ScopeIndent.IncorrectExact"/>
		<exclude name="Generic.WhiteSpace.ScopeIndent.Incorrect"/>
		<exclude name="WordPress.Security.ValidatedSanitizedInput.InputNotSanitized"/>
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
		<exclude name="Generic.CodeAnalysis.AssignmentInCondition"/>
		<exclude name="WordPress.Arrays.MultipleStatementAlignment"/>
		<exclude name="Generic.Formatting.MultipleStatementAlignment"/>
		<exclude name="Universal.Operators.StrictComparisons"/>
	</rule>
</ruleset>